html, body{
    height: 100%;
    width: 100%;
    background-color: #6ab3eb;

}

#top {
    background-color: #036fab;
    color: white;
    height: 10%;
    display:flex;
    border-bottom: 2px solid white;
}

#bottom {
    background-color: #036fab;
    height: 9%;
    display: flex;
    border-top: 2px solid white;
}

p{
    margin:0;
}

#left {
    float: left;
    background-color:  #c9f8db;
    width: 30%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    border-right: 2px solid white;
}

#right {
    float: right;
    background-color: #ece3a5;
    width: 150px;
}

#content {
    background-color: white;
    height: 80%;
    background-color: #6ab3eb;
    text-align: center;
    display: flex;
    color: white;
}

.left_content {
    background-color: #6ab3eb;
    height: 100%;
    width: 70%;
    text-align: center;
    display: flex;
    color: white;
}

.right_content {
    background-color: #dddddd;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.left_button
{
    height: 100%;
    margin: 10px 15%;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #00a1db;
    color: #ffffff;
    cursor: pointer;
    font-family: fantasy;
}

.left_button:hover
{
    background-color: #036fab;
}


